

.formation-grid {
  display: grid;
  grid-gap: 24px; /* Increase spacing between cards */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  justify-items: center; /* Center items horizontally */
  margin: 50px 120px; /* Center the grid horizontally */
}

.formation-card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border-left: 5px solid #007BFF; /* Blue accent on the side */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}

  .formation-card:hover {
    transform: translateY(-5px); /* Lift card on hover */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  .formation-card .title {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 20px;
    color: #007BFF; /* Blue color for the title */
  }

  .formation-card .detail {
    margin-bottom: 10px;
    color: #4A4A4A; /* Grey color for text */
  }

    .formation-card .detail span {
      font-weight: bold;
      color: #333333; /* Darker grey for detail label */
    }

  .formation-card .status {
    font-weight: bold;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 4px;
    background-color: #E0F7FA; /* Light blue background for status */
    color: #007BFF; /* Blue text for status */
  }

.detail select {
  width: 200px;
  height: 35px;
  background: white;
  color: gray;
  padding-left: 5px;
  font-size: 14px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  outline: none;
}

  .detail select option {
    color: black;
  }

  .detail select:focus {
    border: 2px solid #5b9dd9;
  }

.view-details-button {
  background-color: #007bff; /* Blue color */
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

  .view-details-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
