<div class="register-container">
  <div class="left-section">
    <img
      src="assets/images/registerPage.jpg"
      alt="Register Page Image"
      class="register-image"
    />
  </div>
  <div class="right-section">
    <div class="content">
      <img
        src="assets/images/miniLogo.png"
        alt="Logo Image"
        class="mini-logo"
      />
      <h2 class="register-heading">Register Account</h2>
      <div class="button-container">
        <button class="white-text" (click)="navigateToRegisterAsMentor()">
          As Mentor
        </button>
      </div>
      <div class="line"></div>
      <div style="display: inline-block">OR</div>
      <div class="line"></div>
      <div class="button-container">
        <button class="white-text">As Refugee</button>
      </div>
      <div class="login-link">
        Already have an account? <a href="/login">Login</a>
      </div>
    </div>
  </div>
</div>
