<div class="flex-center">
  <div *ngIf="mentor" class="bg-white rounded-lg shadow-md p-6 mb-4">
    <app-pfp></app-pfp>
    <h2 class="text-xl font-semibold mb-4">Mentor Information</h2>
    <div class="mb-4">
      <p><strong>Name:</strong> {{ mentor.name }}</p>
      <p><strong>Email:</strong> {{ mentor.emailAddress }}</p>
      <p><strong>Birthday Date:</strong> {{ mentor.birthdayDate }}</p>
      <p><strong>Phone Number:</strong> {{ mentor.phoneNumber }}</p>
      <p><strong>Country:</strong> {{ mentor.country }}</p>
      <p><strong>Nationality:</strong> {{ mentor.nationality }}</p>
      <p><strong>Primary Language:</strong> {{ mentor.primaryLanguage }}</p>
      <p><strong>Secondary Language:</strong> {{ mentor.secondaryLanguage }}</p>
      <p><strong>Profession:</strong> {{ mentor.profession }}</p>
      <p><strong>Description:</strong> {{ mentor.description }}</p>
    </div>
  </div>


</div>
