<div class="flex justify-center items-center h-screen">
  <div *ngIf="mentor" class="bg-white rounded-lg shadow-md p-6 mb-4">
    <div class="profile-picture-container">
      <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" onError="this.src='./assets/images/pfp/default.jpg';">
    </div>
    <h2 class="text-xl font-semibold mb-4">Mentor Information</h2>
    <div class="mb-4">
      <p><strong>Name:</strong> {{ mentor.name }}</p>
      <p><strong>Email:</strong> {{ mentor.emailAddress }}</p>
      <p><strong>Birthday Date:</strong> {{ mentor.birthdayDate }}</p>
      <p><strong>Phone Number:</strong> {{ mentor.phoneNumber }}</p>
      <p><strong>Country:</strong> {{ mentor.country }}</p>
      <p><strong>Nationality:</strong> {{ mentor.nationality }}</p>
      <p><strong>Primary Language:</strong> {{ mentor.primaryLanguage }}</p>
      <p><strong>Secondary Language:</strong> {{ mentor.secondaryLanguage }}</p>
      <p><strong>Citizen Card:</strong> {{ mentor.citizenCard }}</p>
      <p><strong>Profession:</strong> {{ mentor.profession }}</p>
      <p><strong>Status:</strong> {{ mentor.status }}</p>
    </div>
  </div>
</div>
