.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  gap: 20px; /* Gap between items */
}

.news-item {
  display: flex;
  flex-direction: column;
}

.news-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.news-image {
  width: 100%;
  border-radius: 8px;
}

.news-details {
  margin-top: 10px;
}

.news-title {
  font-size: 18px;
  font-weight: bold;
}

.news-description {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
}
