<div class="form-container">
  <div class="text-right">
    <a href="/login" class="link">Already have an account? Login</a>
  </div>

  <h2>Registering as Refugee</h2>

  <form [formGroup]="refugeeForm" (ngSubmit)="onSubmit()" class="refugee-form">
    <!-- Personal Information Section -->

    <div class="form-field">
      <label for="name">Full name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Full name"
      />
    </div>

    <div class="form-field">
      <label for="emailAddress">Email:</label>
      <input
        type="email"
        id="emailAddress"
        formControlName="emailAddress"
        placeholder="Email"
      />
    </div>

    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" />
    </div>

    <div>
      <label for="country">Country:</label>
      <select id="country" formControlName="country">
        <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>

    <div>
      <label for="gender">Gender:</label>
      <select id="gender" formControlName="gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
    </div>

    <div class="form-field">
      <label for="userName">Username:</label>
      <input type="text" id="userName" formControlName="userName" />
      <div
        *ngIf="
          refugeeForm.get('userName')?.errors?.['required'] &&
          (refugeeForm.get('userName')?.dirty ||
            refugeeForm.get('userName')?.touched)
        "
        class="error-message"
      >
        Username is required.
      </div>
      <div
        *ngIf="refugeeForm.get('userName')?.errors?.['minlength'] && (refugeeForm.get('userName')?.dirty || refugeeForm.get('userName')?.touched)"
        class="error-message"
      >
        Username must be at least 6 characters long.
      </div>
      <div
        *ngIf="refugeeForm.get('userName')?.errors?.['maxlength'] && (refugeeForm.get('userName')?.dirty || refugeeForm.get('userName')?.touched)"
        class="error-message"
      >
        Username cannot exceed 12 characters.
      </div>
    </div>

    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div
        *ngIf="refugeeForm.get('password')?.errors?.['required'] && (refugeeForm.get('password')?.dirty || refugeeForm.get('password')?.touched)"
        class="error-message"
      >
        Password is required.
      </div>
      <div
        *ngIf="refugeeForm.get('password')?.errors?.['minlength'] && (refugeeForm.get('password')?.dirty || refugeeForm.get('password')?.touched)"
        class="error-message"
      >
        Password must be at least 8 characters long.
      </div>
      <div
        *ngIf="refugeeForm.get('password')?.errors?.['maxlength'] && (refugeeForm.get('password')?.dirty || refugeeForm.get('password')?.touched)"
        class="error-message"
      >
        Password cannot exceed 50 characters.
      </div>
      <div
        *ngIf="refugeeForm.get('password')?.errors?.['pattern'] && (refugeeForm.get('password')?.dirty || refugeeForm.get('password')?.touched)"
        class="error-message"
      >
        Password must contain at least one uppercase character.
      </div>
    </div>

    <div>
      <label for="nationality">Nationality:</label>
      <select id="nationality" formControlName="nationality">
        <option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>

    <div>
      <label for="primaryLanguage">Primary Language:</label>
      <select id="primaryLanguage" formControlName="primaryLanguage">
        <option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </option>
      </select>
    </div>

    <div>
      <label for="secondaryLanguage">Secondary Language:</label>
      <select id="secondaryLanguage" formControlName="secondaryLanguage">
        <option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </option>
      </select>
    </div>

    <div class="form-field">
      <label for="citizenCard">Citizen Card Number:</label>
      <input type="text" id="citizenCard" formControlName="citizenCard" />
      <div
        *ngIf="
          (refugeeForm.get('citizenCard')?.errors?.['required'] ||
            refugeeForm.get('citizenCard')?.errors?.['pattern']) &&
          (refugeeForm.get('citizenCard')?.dirty || refugeeForm.get('citizenCard')?.touched)
        "
        class="error-message"
      >
        <div *ngIf="refugeeForm.get('citizenCard')?.errors?.['required']">
          Citizen card number is required.
        </div>
        <div *ngIf="refugeeForm.get('citizenCard')?.errors?.['pattern']">
          Citizen card number must be a 9-digit number.
        </div>
      </div>
    </div>

    <div>
      <label for="refugeeNumber">Refugee Number:</label>
      <input type="text" id="refugeeNumber" formControlName="refugeeNumber" />
    </div>

    <div>
      <label for="birthdayDate">Birthday Date:</label>
      <input type="date" id="birthdayDate" formControlName="birthdayDate" />
    </div>

    <!-- Error Message Display -->
    <div *ngIf="!isRefugeeNumberValid" class="error-message">
      Refugee number is not valid.
    </div>

    <div *ngIf="submissionStatus === 'success'" class="success-message">
      Form submitted successfully!
    </div>
    <div *ngIf="submissionStatus === 'error'" class="error-message">
      Form submission failed. Please try again later.
    </div>

    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>
