<section class="services-grid">
  <div class="service">
    <div class="service-img">
      <img src="assets/images/jobs.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Finding job program</h3>
      <p>
        Our mentorship program provides valuable support and guidance to refugees,
      </p>
    </div>
  </div>
  <div class="service">
    <div class="service-img">
      <img src="assets/images/mentorship.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Refugee Mentorship Program</h3>
      <p>
        Our mentorship program provides valuable support and guidance to refugees,
      </p>
    </div>
  </div>
  <div class="service">
    <div class="service-img">
      <img src="assets/images/formation.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Training program</h3>
      <p>
        Our mentorship program provides valuable support and guidance to refugees,
      </p>
    </div>
  </div>
  <!-- Add more service items here -->
</section>
