<section class="services-grid">
  <div class="service">
    <div class="service-img">
      <img src="assets/images/jobs.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Job Opportunity Program</h3>
      <p>
        In our job opportunity program, we not only connect refugees with employment opportunities but also provide comprehensive support to ensure their success in the workforce. Through partnerships with local businesses and organizations, we facilitate job placements, offer training and skill-building workshops, and provide ongoing mentorship and support to help refugees secure meaningful employment and build fulfilling careers in their new communities.
      </p>
    </div>
  </div>
  <div class="service">
    <div class="service-img">
      <img src="assets/images/mentorship.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Mentorship Program</h3>
      <p>
        Our mentorship program provides valuable support and guidance to refugees, offering them not only practical assistance in navigating their new environment but also emotional encouragement and a sense of community. Through one-on-one mentoring relationships, refugees gain access to resources, information, and opportunities that help them rebuild their lives and integrate into their host communities with confidence and resilience.
      </p>
    </div>
  </div>
  <div class="service">
    <div class="service-img">
      <img src="assets/images/formation.png" alt="Service Image" />
    </div>
    <div class="service-text">
      <h3>Learning Program</h3>
      <p>
        For our learning program, we offer a diverse range of courses tailored to the needs and interests of refugees, empowering them with the knowledge and skills necessary for personal and professional development. From language courses to vocational training and educational workshops, we strive to equip refugees with the tools they need to thrive in their new environment and pursue their aspirations with confidence.
      </p>
    </div>
  </div>
  <!-- Add more service items here -->
</section>
