<nav class="navbar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo" />
  </div>
  <div class="nav-links">
    <a routerLink="/courses">Courses</a>
    <a routerLink="/mentorship">Mentorship</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Sign Up</a>
    <img
      src="assets/images/english.png"
      alt="English Flag"
      style="width: 20px; height: 15px; margin-left: 5px"
    />
    <!-- English flag icon -->
  </div>
</nav>
