<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
  </div>
  <div class="nav-links">
    <a routerLink="/courses">Courses</a>
    <a routerLink="/mentorship">Mentorship</a>
    <a routerLink="/about-us">About Us</a>

    <!-- Display login link only when the user is not logged in -->
    <ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
      <a routerLink="/login">Login</a>
    </ng-container>
    <ng-template #loggedInTemplate>
      <!-- Display mentor select link only when the user is logged in and is a refugee -->
      <ng-container *ngIf="getUserType() === 'Refugee'">
        <a routerLink="/mentor-select">Mentor Select</a>
        <!-- Display connected mentor link -->
        <a routerLink="/connected-mentor">Connected Mentor</a>
      </ng-container>
      <!-- Display link to personal page when user is logged in -->
      <a routerLink="/personal-page">Personal Page</a>
      <!-- Display logout link -->
      <a routerLink="/logout">Logout</a>
    </ng-template>

    <!-- Conditionally display Sign Up link based on user login status -->
    <a routerLink="/register" *ngIf="!isLoggedIn()">Sign Up</a>

    <img
      src="assets/images/english.png"
      alt="English Flag"
      style="width: 20px; height: 15px; margin-left: 5px"
    />
    <!-- English flag icon -->
  </div>
</nav>
