<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
  </div>
  <div class="nav-links">
    <!-- Check if the user is admin -->
    <ng-container *ngIf="getUserType() === 'admin'; else notAdmin">
      <!-- Admin Dashboard and Logout links for admin users -->
      <a routerLink="/admin-dashboard">Admin Dashboard</a>
      <a routerLink="/logout">Logout</a>
    </ng-container>
    <!-- Template for users who are not admin -->
    <ng-template #notAdmin>
      <!-- Display login and signup links only when the user is not logged in -->
      <ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
        <a routerLink="/learning">Learning</a>
        <a routerLink="/mentorship">Mentorship</a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Sign Up</a>
      </ng-container>
      <ng-template #loggedInTemplate>
        <!-- Conditional links for logged in users who are not admin -->
        <ng-container *ngIf="getUserType() === 'Refugee'">
          <a routerLink="/mentor-select">Mentor Select</a>
          <a routerLink="/refugee-formations">Formations</a>
          <!-- Add this line -->
        </ng-container>
        <ng-container *ngIf="getUserType() === 'Mentor'">
          <a routerLink="/connected-refugees">Connected Refugees</a>
        </ng-container>
        <ng-container
          *ngIf="getUserType() === 'Refugee' || getUserType() === 'Mentor'"
        >
          <a routerLink="/personal-page">Personal Page</a>
        </ng-container>

        <ng-container *ngIf="getUserType() === 'Refugee'">
          <a routerLink="/chat">Chat</a>
        </ng-container>
        <ng-container *ngIf="getUserType() === 'organization'">
          <a routerLink="/organization-formations">Formations</a>
        </ng-container>
        <ng-container *ngIf="getUserType() === 'organization'">
          <a routerLink="/organization-dashboard">Create Formation</a>
        </ng-container>
        <ng-container *ngIf="getUserType() === 'Mentor'">
          <a routerLink="/messages">Messages</a>
        </ng-container>
        <a routerLink="/logout">Logout</a>
      </ng-template>
    </ng-template>

    <img
      src="assets/images/log.png"
      alt="Log In/Out"
      style="width: 20px; height: 15px; margin-left: 5px ; margin-top:3px;"
    />
    <!-- English flag icon -->
  </div>
</nav>
