<section
  class="container mx-auto px-4 py-8 flex flex-wrap justify-between items-start"
>
  <div class="mx-auto w-full md:w-1/2 mb-4 md:mb-0">
    <h2 class="text-3xl font-bold text-gray-800 mb-3">Learning</h2>
    <p class="text-gray-600 mb-4 text-justify">
      Our learning program is dedicated to empowering refugees by providing
      access to comprehensive training in various fields. This initiative aims
      to equip participants with the necessary skills and knowledge to secure
      employment and achieve self-sufficiency. Highlights of our program
      include:
    </p>
    <ul class="text-gray-600 list-disc pl-5 mb-4 text-justify">
      <li class="mb-2 text-justify">
        <strong>Technical Skills:</strong> Courses in IT, web development, and
        data analysis to meet the demands of today's job market.
      </li>
      <li class="mb-2 text-justify">
        <strong>Language Training:</strong> Language courses focused on
        enhancing communication skills in English and other prevalent languages.
      </li>
      <li class="mb-2 text-justify">
        <strong>Professional Development:</strong> Workshops on resume writing,
        interview techniques, and workplace etiquette.
      </li>
      <li class="mb-2 text-justify">
        <strong>Vocational Training:</strong> Hands-on training in trades such
        as carpentry, plumbing, and electrical work.
      </li>
      <li class="mb-2 text-justify">
        <strong>Entrepreneurship:</strong> Programs designed to inspire and
        guide refugees in starting their own businesses.
      </li>
    </ul>
    <p class="text-gray-600 text-justify">
      By providing these resources, we aim to not only enhance the employability
      of refugees but also to foster a sense of independence and confidence in
      their abilities. Join us in creating opportunities for growth and success.
    </p>
  </div>

  <div class="w-full md:w-1/2 md:pl-8 mt-12">
    <img
      src="../../../assets/images/learningHero.jpg"
      alt="Learning Program"
      class="rounded-lg shadow-lg"
    />
  </div>
</section>
