<section
  class="container mx-auto px-4 py-8 flex flex-wrap justify-between items-start"
>
  <div class="mx-auto w-full md:w-1/2 mb-4 md:mb-0">
    <h2 class="text-3xl font-bold text-gray-800 mb-3">Mentorship</h2>
    <p class="text-gray-600 mb-4 text-justify">
      Our mentorship program is designed to connect refugees with compassionate
      and experienced mentors, offering guidance and support as they navigate
      through their new life challenges. With a focus on personal growth and
      community integration, our program offers:
    </p>
    <ul class="text-gray-600 list-disc pl-5 mb-4 text-justify">
      <li class="mb-2 text-justify">
        <strong>Language Learning Support:</strong> Helping refugees learn the
        local language through practical conversation and official courses.
      </li>
      <li class="mb-2 text-justify">
        <strong>Employment Assistance:</strong> Providing guidance on job
        searching, resume building, and interview preparation to secure
        meaningful employment.
      </li>
      <li class="mb-2 text-justify">
        <strong>Cultural Integration:</strong> Offering insights into local
        customs, traditions, and social norms to ease the integration process.
      </li>
      <li class="mb-2 text-justify">
        <strong>Educational Opportunities:</strong> Facilitating access to
        educational resources and opportunities for personal and professional
        development.
      </li>
      <li class="mb-2 text-justify">
        <strong>Community Connection:</strong> Encouraging engagement with local
        communities and events to build a supportive network.
      </li>
    </ul>

    <p class="text-gray-600 text-justify">
      Our mentors are dedicated to offering a helping hand, ensuring refugees
      not only survive but thrive in their new environment. Join us in making a
      difference.
    </p>
  </div>

  <div class="w-full md:w-1/2 md:pl-8 mt-12">
    <img
      src="../../../assets/images/mentorshipHero.png"
      alt="Mentorship Program"
      class="rounded-lg shadow-lg"
    />
  </div>
</section>
