/* General Styles */
body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  margin-top: 50px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px; /* Adjust based on your preference */
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Adjust the width ratio between profile/rating and chat */
  margin-top: -280px;
}

.rating-container, .mentor-profile {
  margin-bottom: -280px;
}

.chat-container {
  width: 68%; /* Adjust the width ratio between profile/rating and chat */
  display: flex;
  flex-direction: column;
}

.conversation-container, .message-form-container, .refresh-container {
  margin-bottom: 20px;
}

.messages {
  height: 400px; /* Adjust height as necessary */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  max-width: 80%;
}

/* Add any specific styles for .mentor-message and .refugee-message */

.select-mentor-prompt {
  text-align: center;
  margin-top: 50px;
}

/* Buttons and Inputs */
button, input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}


.select-mentor-prompt {
  text-align: center;
  /* Add any additional styling you like here */
}

  .select-mentor-prompt p {
    margin-bottom: 1em;
    text-align: center;
  }

  .select-mentor-prompt button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    .select-mentor-prompt button:hover {
      background-color: #0056b3;
    }

.refresh-container button:hover {
  background-color: #0056b3; /* A slightly darker blue on hover */
}

.mentor-message {
  background-color: #d8eafd; /* Light blue to distinguish mentor's messages */
  align-self: flex-start; /* Align mentor's messages to the left */
}

.refugee-message {
  background-color: #f1f0f0; /* Light grey for refugee's messages */
  align-self: flex-end; /* Align refugee's messages to the right */
}

.message p {
  margin: 0;
}

.message-form-container {
  margin-top: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-content:center;
}

.username {
  color: #4cbcf8;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-content: center;
}
