<div *ngIf="selectedMentorUsername; else selectMentorPrompt">
  <div class="flex-container">

    <!-- Mentor's Profile on the left -->
    <div class="mentor-profile">
      <app-connected-mentor></app-connected-mentor>
      <app-rating></app-rating>

    </div>

    <!-- Chat Container on the right -->
    <div class="chat-container">
      <div class="conversation-container">
        <h2>Conversation with {{ selectedMentorUsername }}</h2>
        <div class="messages" #scrollMe>
          <div *ngFor="let message of messages" class="message" [ngClass]="{'mentor-message': message.senderUsername === selectedMentorUsername, 'refugee-message': message.senderUsername !== selectedMentorUsername}">
            <p><strong>{{ message.senderUsername }}:</strong> {{ message.content }}</p>
          </div>
        </div>
        <div class="message-form-container" *ngIf="selectedMentorUsername">
          <app-message-form (messageSent)="sendMessage($event)"></app-message-form>
        </div>
      </div>
      <div class="refresh-container">
        <button (click)="refreshMessages()">Refresh Messages</button>
      </div>
    </div>
  </div>
</div>
<ng-template #selectMentorPrompt>
  <div class="select-mentor-prompt">
    <p>Please select a mentor to be able to chat with him.</p>
    <button (click)="goToMentorSelect()">Select Mentor</button>
  </div>
</ng-template>
