/* General Styles */
body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px; /* Adjust based on your preference */
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Adjust the width ratio between profile/rating and chat */
}

.rating-container, .mentor-profile {
  margin-bottom: 20px;
}

.chat-container {
  width: 68%; /* Adjust the width ratio between profile/rating and chat */
  display: flex;
  flex-direction: column;
}

.conversation-container, .message-form-container, .refresh-container {
  margin-bottom: 20px;
}

.messages {
  overflow-y: auto;
  height: 400px; /* Adjust based on your preference */
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

/* Add any specific styles for .mentor-message and .refugee-message */

.select-mentor-prompt {
  text-align: center;
  margin-top: 50px;
}

/* Buttons and Inputs */
button, input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}


