<div class="mx-auto max-w-screen-lg mt-8">
  <div *ngIf="formationInfo">
    <h2 class="text-2xl font-bold mb-4 mx-auto text-center">
      Current Formation
    </h2>
    <div class="bg-white overflow-hidden shadow-md rounded-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ formationInfo.name }}</div>
        <div class="grid grid-cols-2 gap-2">
          <p class="text-gray-700 font-bold">Description:</p>
          <p class="text-gray-700">{{ formationInfo.description }}</p>
          <p class="text-gray-700 font-bold">Number of Lessons:</p>
          <p class="text-gray-700">{{ formationInfo.numberOfLessons }}</p>
          <p class="text-gray-700 font-bold">Start Date:</p>
          <p class="text-gray-700">{{ formationInfo.startDate }}</p>
          <p class="text-gray-700 font-bold">Duration:</p>
          <p class="text-gray-700">{{ formationInfo.duration }} hours</p>
          <p class="text-gray-700 font-bold">Status:</p>
          <p class="text-gray-700">{{ getStatusText(formationInfo.status) }}</p>
        </div>
        <!-- Buttons -->
        <div class="flex justify-start gap-4 mt-4">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="goToFormationDetails(formationInfo.id)">
            View Formation Details
          </button>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="leaveFormation()">
            Leave Formation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STARTING SOON FORMATIONS -->
<div class="mx-auto max-w-screen-lg mt-8">
  <h2 class="text-2xl font-bold mb-4 mx-auto text-center">
    STARTING SOON FORMATIONS
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
    <ng-container *ngFor="let formation of formations">
      <div *ngIf="formation.status === 'Awaiting Start'" class="bg-white overflow-hidden shadow-md rounded-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ formation.name }}</div>
          <div class="grid grid-cols-2 gap-2">
            <!-- Formation details -->
            <p class="text-gray-700 font-bold">Description:</p>
            <p class="text-gray-700 col-span-2">{{ formation.description }}</p>
            <p class="text-gray-700 font-bold">Number of Lessons:</p>
            <p class="text-gray-700">{{ formation.numberOfLessons }}</p>
            <p class="text-gray-700 font-bold">Start Date:</p>
            <p class="text-gray-700">{{ formation.startDate }}</p>
            <p class="text-gray-700 font-bold">Duration:</p>
            <p class="text-gray-700">{{ formation.duration }} hours</p>
            <p class="text-gray-700 font-bold">Status:</p>
            <p class="text-gray-700">{{ getStatusText(formation.status) }}</p>
          </div>
          <!-- Button -->
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4"
            (click)="applyToFormation(formation.id)">
            Register
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- FORMATIONS GOING ON -->
<div class="mx-auto max-w-screen-lg mt-8">
  <h2 class="text-2xl font-bold mb-4 mx-auto text-center">
    FORMATIONS GOING ON
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
    <ng-container *ngFor="let formation of formations">
      <div *ngIf="formation.status === 'ONGOING'" class="bg-white overflow-hidden shadow-md rounded-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ formation.name }}</div>
          <div class="grid grid-cols-2 gap-2">
            <!-- Formation details -->
            <p class="text-gray-700 font-bold">Description:</p>
            <p class="text-gray-700 col-span-2">{{ formation.description }}</p>
            <p class="text-gray-700 font-bold">Number of Lessons:</p>
            <p class="text-gray-700">{{ formation.numberOfLessons }}</p>
            <p class="text-gray-700 font-bold">Start Date:</p>
            <p class="text-gray-700">{{ formation.startDate }}</p>
            <p class="text-gray-700 font-bold">Duration:</p>
            <p class="text-gray-700">{{ formation.duration }} hours</p>
            <p class="text-gray-700 font-bold">Status:</p>
            <p class="text-gray-700">{{ getStatusText(formation.status) }}</p>
          </div>
          <!-- Button -->
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4"
            (click)="applyToFormation(formation.id)">
            Register
          </button>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
  <ng-container *ngIf="applicationMessage">
    <div class="popup">
      <span class="close" (click)="closePopup()">&times;</span>
      <p>{{ applicationMessage }}</p>
    </div>
  </ng-container>
