.layout-container {
  display: flex;
  margin: 0 auto;
}

.filters-sidebar {
  width: 300px; /* Fixed width for the sidebar */
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.filter-group {
  margin-bottom: 30px;
}

.filter-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.filters-sidebar select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.mentors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* This sets the gap between cards */
  justify-content: center; /* This centers the cards in the container */ 
}


.mentor-card {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem;
  flex: 1 1 200px; /* Removed, conflicts with width */
  cursor: pointer;
  transition: transform 0.2s ease;
  min-width: 500px; /* Minimum width for the cards */
}

.mentor-info {
  display: flex;
  align-items: center;
}

.mentor-name h3 {
  margin: 0;
  color: #333;
  font-weight: normal;
}

.mentor-name p {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  color: #666;
}

.mentor-details p {
  margin: 0;
  padding: 0 10px;
  font-size: 0.9rem;
  color: #888;
}

.details-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  .details-button:hover {
    background-color: #0056b3;
  }

.custom-button {
  background-color: #3490dc; /* Blue background color */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Rounded corners */
  margin: auto;
  display: inline-block;
}

.custom-button:hover {
  background-color: #2779bd; /* Darker blue on hover */
}

.profile-picture-container {
  max-width: 300px;
  margin: auto; /* This centers the container itself horizontally if it's within a flex or grid item */
  display: flex;
  justify-content: center; /* These two properties center the child img horizontally */
  align-items: center; /* This property centers the child img vertically */
  height: 200px;
}

.profile-picture {
  max-width: 100%; /* Ensures the image does not exceed its container */
  max-height: 100%; /* Optional: if you want to ensure that the image height does not exceed the container's height */
  object-fit: cover;
  margin-top: 30px;
  border-radius: 50%;
}

.error-message {
  color: red;
  margin: 10px 0;
}
.mentor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transform: scale(1.05);
}

.mentor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns, each taking one fraction of the available space */
  gap: 1rem;
  justify-content: center;
}
.rating-bar-container {
  width: 100%;
  background-color: #e0e0e0; 
  height: 20px; 
  border-radius: 4px; 
}

.rating-bar-fill {
  background-color: #ffc107;
  height: 100%; 
  border-radius: 4px; 
}

.gold-star {
  color: darkgoldenrod;
  font-weight: 600;
}

.popup {
    position: fixed;
    top: 20px; /* Change to top */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other content */
    animation: slideIn 0.5s ease-out;
  }
  
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }