
<div class="flex-container">
    <div class="refugees-list">
        <h2>My Refugees</h2>
        <br/>
        <ul>
            <li *ngFor="let refugee of refugees" class="refugee-card" (click)="onSelectRefugee(refugee.username)">
                <img [src]="profilePictureUrl + refugee.username + '.jpg'" 
                     alt="Profile Picture" 
                     class="profile-picture" 
                     onerror="this.src='./assets/images/pfp/default.jpg';">
                <span class="refugee-name">{{ refugee.username }}</span>
            </li>
        </ul>
    </div>
<div class="mentor-page">

    <br/>
    <br/>
    <div class="conversation">
        <h3>Conversation with {{ selectedRefugeeUsername }}</h3>
        <div class="messages" #scrollMe>
            <div *ngFor="let message of messages" class="message" [ngClass]="{'mentor-message': message.senderUsername === selectedRefugeeUsername, 'refugee-message': message.senderUsername !== selectedRefugeeUsername}">
                <p><strong>{{ message.senderUsername }}:</strong> {{ message.content }}</p>
            </div>
        </div>
        <div class="message-form-container" *ngIf="selectedRefugeeUsername">
            <app-message-form (messageSent)="sendMessage($event)"></app-message-form>
        </div>
    </div>
    <div class="refresh-container">
        <button (click)="refreshMessages()">Refresh Messages</button>
     </div>
</div>

</div>