<div *ngIf="refugees.length > 0; else noRefugees" class="details-container">
  <ul class="refugee-list">
    <li *ngFor="let refugee of refugees" class="refugee-item">
      <div class="refugee-detail">
        Name: <span>{{ refugee.name }}</span>
      </div>
      <div class="refugee-detail">
        Username: <span>{{ refugee.userName }}</span>
      </div>
      <div class="refugee-detail">
        Approval Status: <span>{{ refugee.approvalStatus }}</span>
      </div>
      <button (click)="approveRefugee(refugee.id, formationId)"
              class="approve-button">
        Change Approval Status
      </button>
      <button (click)="expelRefugeeFromFormation(refugee.id, formationId)" class="expel-button">
      Expel from Formation
      </button>
    </li>
  </ul>
</div>

<ng-template #noRefugees>
  <p>No refugees found for this formation.</p>
</ng-template>
