.rating {
  unicode-bidi: bidi-override;
  direction: rtl; /* Reverse the order of stars */
  font-size: 30px;
  cursor: pointer;
  margin-left: 35px;
}
.main {
    font-weight: bold;
    
}

  .rating span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

    .rating span:hover,
    .rating span:hover ~ span {
      color: orange; /* Color of stars on hover/select */
    }

.rated {
  color: grey;
}

.can-rate {
  color: lightgrey;
}

.already-rated-message {
  color: red;
  margin-top: 10px;
  pointer-events: none;
}
