.rating {
  unicode-bidi: bidi-override;
  direction: rtl; /* Reverse the order of stars */
  font-size: 30px;
  margin-left: 35px;
  margin: 0;
  padding: 0;
}
.main {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

  .rating span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

    .rating span:hover,
    .rating span:hover ~ span {
      color: orange; /* Color of stars on hover/select */
    }

.rated {
  color: grey;
}

.can-rate {
  color: lightgrey;
  cursor: pointer;
}

.already-rated-message {
  color: darkgoldenrod;
  margin-top: 10px;
  pointer-events: none;
  cursor: not-allowed;
}
