<div class="container">
  <div class="left">
    <div class="content">
      <h2>About Us</h2>
      <p class="objective">
        Our objective is to help refugees connect with mentors, find jobs, and
        get education through various training programs.
      </p>
      <ul>
        <li>
          <strong>Jobs:</strong> Assistance in finding employment opportunities
          suitable for refugees.
        </li>
        <li>
          <strong>Mentorship:</strong> Pairing refugees with experienced mentors
          to provide guidance and support.
        </li>
        <li>
          <strong>Formation:</strong> Offering educational and training programs
          to enhance skills and knowledge.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <img src="assets/images/aboutUs.png" alt="About Us" />
  </div>
</div>
