body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-text-container {
  flex: 1;
  max-width: 600px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
}

.hero-text {
  margin-right: 50px;
  color: #333; /* Optional: Customize text color */
  position: relative; /* Ensure the .hero-text container is positioned */
}

.hero-text h1 {
  font-family: "Volkhov", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.hero-text h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #f13100;
}

.hero-text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px; 
  color: #5e6282;
}

.hero-text button {
  padding: 12px 24px;
  font-size: 20px;
  background-color: #72c6e8; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove button border */
  border-radius: 10px; 
}

.hero-image img {
  max-width: 100%; /* Ensure image responsiveness */
  height: auto;
  width: 900px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .hero-text-container {
    max-width: 100%;
    margin-left: 20px; /* Adjust margin for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .hero-content {
    flex-direction: column; /* Stack content vertically on smaller screens */
    align-items: center;
  }

  .hero-text-container {
    margin-left: 0; /* Reset left margin */
    margin-top: 20px; /* Add top margin for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .hero-text {
    margin-right: 0; /* Reset right margin */
  }

  .hero-image {
    margin-top: 20px; /* Add top margin for spacing */
  }
}
