<ng-container *ngIf="userStatus === 'AWAITING'">
  <!-- Display message for mentors with AWAITING or REJECTED status -->
  <div class="status-message">
    <p>Your mentorship status is {{ userStatus }}.</p>
    <p>Please wait for approval or contact support for assistance.</p>
  </div>
</ng-container>

<ng-container *ngIf="userStatus === 'REJECTED'">
  <!-- Display message for mentors with AWAITING or REJECTED status -->
  <div class="status-message">
    <p>Your mentorship status is {{ userStatus }}.</p>
    <p>Please contact support for assistance if you believe this is a mistake.</p>
  </div>
</ng-container>

<ng-container *ngIf="userStatus === 'CERTIFIED'"> 
<div class="flex justify-center items-center h-screen">
  <ng-container *ngIf="refugeeInfoList.length > 0; else noRefugees">
    <div *ngFor="let refugee of refugeeInfoList"
         class="bg-white rounded-lg shadow-md p-6 mb-8 mr-8"
         style="margin-bottom: 20px">
      <div class="profile-picture-container">
        <img [src]="profilePictureUrl + refugee.userName + '.jpg'" alt="Profile Picture" class="profile-picture" onerror="this.src='./assets/images/pfp/default.jpg';">
      </div>
      <h2 class="text-xl font-semibold mb-4">Refugee Information</h2>
      <div class="mb-4">

        <p><strong>Name:</strong> {{ refugee.name }}</p>
        <p><strong>Email:</strong> {{ refugee.emailAddress }}</p>
        <p><strong>Birthday Date:</strong> {{ refugee.birthdayDate }}</p>
        <p><strong>Phone Number:</strong> {{ refugee.phoneNumber }}</p>
        <p><strong>Country:</strong> {{ refugee.country }}</p>
        <p><strong>Nationality:</strong> {{ refugee.nationality }}</p>
        <p><strong>Primary Language:</strong> {{ refugee.primaryLanguage }}</p>
        <p>
          <strong>Secondary Language:</strong> {{ refugee.secondaryLanguage }}
        </p>
      </div>
      <button class="button" (click)="goToChat()">Chat Now</button>
    </div>
  </ng-container>


  <ng-template #noRefugees>
    <div class="no-refugee-prompt">
      <img src="assets/images/thankyomentors.png" alt="Thank you" class="thank-you-image">
      <p>No refugee has asked for your mentorship.</p>
      <p>You can enjoy your free time for now. </p>
      <p>Thank you for helping!</p>
    </div>
  </ng-template>
</div>
</ng-container>